<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
    {{ block "head" . }}{{ end }}
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="hspacer"></div>
      <div>
        <div>Grant Custer</div>
        <div><p>Feed&nbsp; <a href="https://grantcuster.com">Index</a>&nbsp; <a href="https://twitter.com/grantcuster">Twitter</a></p></div>
      </div>
    </div>
    <div class="hspacer"></div>

    {{ block "main" . }}{{ end }}
  </body>
</html>
