{{ define "head" }}
{{ $title := "Grant Custer → Post" }}
<title>{{ $title }}</title>
<meta property="description" content="{{ .Params.text }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ .Params.text }}">
<meta property="og:image" content="{{ substr .Site.BaseURL 0 -1 }}{{ .Params.image }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="twitter:card" content="summary_large_image">
{{ end }}

{{ define "main" }}
{{ $pages := .Site.RegularPages.ByDate.Reverse }}

<div class="container">
  <div><a href="/">Feed</a></div>
  <div><p>Post</p></div>
</div>

<div class="spacer"></div>

<div class="container">
  {{ title .Params.feed_type }} ↓ {{ .Date.Format "Jan 2, 2006" }}
</div>

<div style="text-align: center; padding-top: 6px; padding-bottom: 6px;">
  <div class="full-image-holder" style="display: inline-block;">
     <img id="post-img" src="{{ .Params.image }}" />
  </div>
</div>

<div class="container">
    <div>{{ .Params.text }}</div>
    {{ if or (isset .Params "from") (isset .Params "via") }}
    <div><p>
        {{ if (isset .Params "from") }}
        <span>from {{ .Params.from | markdownify }}</span>
        {{ end }}
        {{ if (isset .Params "via") }}
        <span>via {{ .Params.via | markdownify }}</span>
        {{ end }}
      </p></div>
      {{ end }}
</div>

<div class="spacer"></div>

<div class="container">
  <a href="/">Feed</a>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div style="position: fixed; left: 0; bottom: 0; width: 100vw; display: grid; grid-template-columns: 1fr 1fr;">
  <div>
    {{with $pages.Next .}}
    <a class="button-hover" href="{{ .RelPermalink }}" style="display: block; padding-left: 2ch; padding-top: 12px; padding-bottom: 12px; text-align: center; mix-blend-mode: difference;">Prev</a> 
    {{ end }}
  </div>
  <div>
    {{with $pages.Prev .}}
    <a class="button-hover" href="{{ .RelPermalink }}" style="display: block; padding-left: 2ch; padding-top: 12px; padding-bottom: 12px; text-align: center;">Next</a> 
    {{ end }}
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    let $post_img = document.getElementById('post-img')
    if ($post_img.width < $post_img.naturalWidth) {
      $post_img.classList.add('scaled')
      $post_img.addEventListener('click', function() {
        let og_width = this.naturalWidth
        let og_height = this.naturalHeight
        if ($post_img.classList.contains('scaled')) {
          $post_img.style.maxWidth = 'none'
          $post_img.style.width = og_width + 'px'
          $post_img.style.height = og_height + 'px'
          $post_img.classList.add('fullsize')
          $post_img.classList.remove('scaled')
        } else {
          $post_img.style.maxWidth = '100%'
          $post_img.style.width = ''
          $post_img.style.height = ''
          $post_img.classList.add('scaled')
          $post_img.classList.remove('fullsize')
        }
      })
    }
 })
</script>

{{ end }}
