<div class="post">
  <div class="container">
    <div>{{ title .Params.feed_type }} ↓ <a href="{{ .RelPermalink }}">{{ .Date.Format "Jan 2, 2006" }}</a></div>
  </div>
  <div class="image-container">
    <a href="{{ .RelPermalink }}"><img src="{{ .Params.image }}" /></a>
  </div>
  <div class="container">
    <div><p>{{ .Params.text }}</p></div>
    {{ if or (isset .Params "from") (isset .Params "via") }}
    <div><p>
        {{ if (isset .Params "from") }}
        <span>from {{ .Params.from | markdownify }}</span>
        {{ end }}
        {{ if (isset .Params "via") }}
        <span>via {{ .Params.via | markdownify }}</span>
        {{ end }}
      </p></div>
      {{ end }}
  </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
 
